body,
html {
    margin: 0px 0;
    padding: 0;
    background: linear-gradient(to bottom right, #3C4BDE 20%, #367CF5 70%, #2BEAFF 100%);
    animation: color 10s 0s infinite;
    font-family: 'Rubik', sans-serif;
}

body {
    padding-top: 25px;
    padding: 0;
    margin: 0;
}

html {
    margin: 0;
    padding: 0;
}

main,
footer,
header {
    width: 90%;
    background: #eee;
    text-align: left;
    vertical-align: bottom;
    border-radius: 8px;
    margin: auto;
}

header {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

main {
    min-height: 400px;
    padding: 25px;
}

footer {
    width: 100%;
    border-radius: 0;
    background: #000;
    margin-bottom: -16px;
    margin-top: 18px;
    color: azure;
    padding: 18px 0;
}

ul {
    list-style: none;
    white-space: nowrap;
    margin: 0;
}

li {
    display: inline-block;
    padding: 0;
    margin-right: 20px;
    height: 40px;
    width: 120px;
    vertical-align: middle;
}

li a {
    display: inline-block;
    text-decoration: none;
    color: darkred;
    animation: color 20s 5s infinite;
    transition: color 450ms ease-in, box-shadow 200ms ease-in;
    background: #ddd;
    padding: 10px;
    border-radius: 6px;
}

li a:hover {
    color: darkgoldenrod;
    box-shadow: 1px 2px 4px 1px #aaa;
}

h1,
h2,
h3 {
    margin-left: 25px;
    text-transform: uppercase;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 20px;
}

p {
    margin-left: 35px;
    font-family: 'Roboto', sans-serif;
}

@keyframes color {
    20% {
        filter: hue-rotate(5deg);
    }

    40% {
        filter: hue-rotate(20deg);
    }

    60% {
        filter: hue-rotate(0deg) saturate(2);
    }

    80% {
        filter: hue-rotate(-20deg);
    }
}
